body {
    margin: 0px;
}

a {
    color: red;
    text-decoration: none;
}

h1 {
    color: blue;
    font-size: 45px;
    text-align: center;
    border-bottom: 5px grey solid;
    margin: 0px;
    padding: 10px;
}

ol {
    border-right: 5px gray solid;
    width: 150px;
    margin: 0px;
    padding-top: 20px;
    letter-spacing: 5px;
    line-height: -5px;
    
}

#grid {
    display: grid;
    grid-template-columns: 150px 2fr;
}
#grid ol {
    padding-left: 40px;
    padding-right: 5px;
}
#ariticle {
    padding-left: 120px;
    
}
@media screen and (max-width: 780px) {
    #grid {
    display: block;
    }
    ol {
    border-right:none;
    }
    h1 {
        border-bottom: none;
    }
    #ariticle {
        font-size: 12px;
        line-height: 20px;
        padding: 10px;
    }
